


<!-- app/views/pages/index.html.erb -->

<h1>Welcome to Our Landing Page</h1>

<p>
  <%= link_to 'View Products', products_path, class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-black bg-indigo-600 hover:bg-indigo-700" %>
</p>
<p>
  <%= link_to 'View Posts', posts_path, class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-black bg-indigo-600 hover:bg-indigo-700" %>
</p>
